@import url("https://fonts.googleapis.com/css?family=Gabarito|Titillium+Web");

:root {
    --main-color: #683571;
    --secondary-color: #512466;
    --accent-color: #f4a321;
    --text-color: #ffe78e;
    --hover-color: #ffc86a;
    --background-color: #38175a;
    --slider-color: #ffe78e;
    --slider-background: #f4a321;
    --shadow-color: rgb(56, 23, 90, 0.75);

    --text-font: 'Titillium Web', Arial;
    --title-font: Gabarito, Helvetica;

    background-color: var(--background-color);
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
}
/** General **/
a {
    font-family: var(--text-font);
    color: var(--text-font);
    padding: 1rem;
    margin: 0 auto;
    text-decoration: none;
}

h1 {
    font-family: var(--title-font);
    background-color: var(--main-color);
    padding: 0.8rem 1.6rem;
    width: fit-content;
    min-width: 15rem;
    margin: 2rem auto;
    font-size: 250%;
}

h2 {
    font-family: var(--title-font);
    background-color: var(--main-color);
    padding: 0.5rem 0.8rem;
    width: fit-content;
    min-width: 8rem;
    margin: 1rem auto;
    font-size: 125%;
}

h3 {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

ul {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 80%;
}

li {
    text-align: left;
    padding: 0.4rem;
    width: auto;
    padding: 0.3rem;
}

.current {
    text-decoration: underline;
    text-decoration-color: var(--hover-color);
}

/** Navigation **/
.navigation {
    display: none;
    text-align: center;
    font-size: 135%;
    background-color: var(--secondary-color);
}

.show {
    display: flex;
    flex-direction: column;
}

.menu {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: var(--main-color);
}

.menu::before {
    color: var(--text-color);
    font-size: 1.4rem;
    content: '≡';
}

.menu.show::before {
    color: var(--text-color);
    font-size: 1.4rem;
    content: '✖';
}

/** Hero **/
.hero {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row: 1/2;
    grid-column: 1/4;
}

.hero > picture {
    margin: 0 auto;
    width: 100%;
    grid-row: 1/5;
    grid-column: 1/4;
    opacity: 0.7;
    z-index: -1;
}

.hero > picture > img {
    width: 100%;
    height: auto;
}

.hero > h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-family: var(--title-font);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    box-shadow: 0vh 0vh 4vw 2vw var(--shadow-color);
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
}

.hero > a {
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    background-color: var(--main-color);
    font-family: var(--text-font);
    font-weight: bolder;
    box-shadow: 0vh 0vh 2vw 1vw var(--shadow-color);
    text-decoration: none;
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
}

.hero > a:hover {
    color: var(--hover-color);
}

/** Cards **/
.card {
    background-color: var(--secondary-color);
    height: auto;
    min-height: 15rem;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-color);
    border-bottom-color: var(--accent-color);
    margin: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.card img {
    padding-top: 1rem;
    width: 240px;
    height: auto;
}

.discover img {
    width: 100%;
    height: auto;
}

img.weather-icon {
    width: 50px;
    height: auto;
}

/** Footer **/
footer {
    display: grid;
    grid-template-columns: 1fr 2fr 16fr 1fr;
    color: var(--text-color);
    background-color: var(--main-color);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

#logo {
    grid-row: 1/2;
    grid-column: 2/3;
    align-content: center;
    margin: auto;
}

#logo img {
    width: 70px;
    height: auto;
}

.footer-info {
    grid-row: 1/2;
    grid-column: 3/4;
    padding: 0.5rem 1rem;
}

/** Join Page **/
.join-info p{
    font-size: 85%;
}

.join-form {
    position: relative;
}

form {
    margin: 1rem;
}

fieldset {
    color: var(--text-color);
    padding: 1rem 2rem;
    border-color: var(--accent-color);
    border-style: solid;
    border-width: 3px;
}

form legend {
    font-family: var(--text-font);
    font-size: 120%;
    padding: 0.5rem;
}

form label, form div {
    display: block;
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 110%;
}

form div {
    padding-bottom: 0.7rem;
}

.membership {
    font-family: var(--text-font);
    text-align: left;
    margin-left: 0;
    font-size: 100%;
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
    margin-left: 1rem;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    display: block;
    padding: 0.7rem 0.7rem;
    width: 90%;
    margin-bottom: 1rem;
    border: none;
    outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    outline: solid;
    outline-width: 3px;
    outline-color: var(--accent-color);
}

textarea {
    height: 10rem;
}

.button-div {
    position: relative;
    padding: 2rem;
}

form button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 0.7rem 1.5rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 0vh 0vh 5px 5px var(--shadow-color);
    width: 100%;
}

input:valid {
    background-color: #daffda;
}

fieldset {
    text-align: left;
}

/** Members List **/
#directory a {
    display: block;
    padding: 0 0 0.5rem 0;
}

#directory ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#directory ul > :nth-child(odd) {
    background-color: var(--main-color);
}

#directory li {
    padding: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    grid-column: 1/4;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

#grid-button, #list-button {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--text-font);
    border: none;
    padding: 0.5rem 1rem;
    position: static;
    transform: translate(0, 0);
    margin-bottom: 1rem;
    box-shadow: none;
}

.active {
    outline: 3px;
    outline-style: solid;
    outline-color: var(--accent-color);
}

.thanks {
    padding: 1rem;
}

/** Sliders & Buttons **/
.switch {
  position: fixed;
  display: inline-block;
  width: 40px;
  height: 23px;
  top: 10px;
  right: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-background);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: var(--slider-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--slider-background);
}

input:checked + .slider:before {
    background-color: var(--slider-color);
  }

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

#meet-button {
    position: static;
    display: block;
    transform: translate(0%, 0%);
    background-color: var(--background-color);
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 150%;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: none;
    padding: 0.3rem;
    width: 2.5rem;
    border: none;
}

#meet-button:hover {
    color: var(--hover-color);
}