@import url("https://fonts.googleapis.com/css?family=Gabarito|Titillium+Web");

:root {
    --main-color: #683571;
    --secondary-color: #512466;
    --accent-color: #f4a321;
    --text-color: #ffe78e;
    --hover-color: #ffc86a;
    --background-color: #38175a;
    --slider-color: #ffe78e;
    --slider-background: #f4a321;
    --shadow-color: rgb(56, 23, 90, 0.75);

    --text-font: 'Titillium Web', Arial;
    --title-font: Gabarito, Helvetica;
}

body {
    background-color: var(--background-color);
}

nav {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

.nav-small {
    background-color: var(--secondary-color);
    display: none;
    text-align: center;
}

.nav-small a {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 3vh;
    text-decoration: none;
    border-bottom-width: 2px;
    padding: 2vh;
}

#menu {
    background-color: var(--main-color);
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 42vw;
    padding-right: 42vw;
    text-decoration: none;
}

#menu::before {
    color: var(--text-color);
    font-size: 3vh;
    content: '≡';
}

.show {
    display: flex;
    flex-direction: column;
}

#menu.show::before {
    color: var(--text-color);
    font-size: 3vh;
    content: '✖';
}

.nav-top {
    display: none;
}

.nav-bottom {
    background-color: var(--secondary-color);
    grid-row: 2/3;
    grid-column: 1/4;
}

.nav-bottom a {
    display: none;
}

.nav-top a, .nav-bottom a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--text-font);
    margin: 0 auto;
    text-align: center;
}

.nav-top a:hover, .nav-bottom a:hover {
    color: var(--hover-color);
    border-width: 0;
    border-bottom-width: 2px;
    border-style: dotted;
    border-color: var(--accent-color);
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hero {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/4;
}

.hero > picture {
    margin: 0 auto;
    width: 100%;
    grid-row: 1/5;
    grid-column: 1/4;
    opacity: 0.7;
    z-index: -1;
}

.hero > picture > img {
    width: 100%;
    height: auto;
}

.hero > h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 5vw;
    font-family: var(--title-font);
    color: var(--text-color);
    padding: 1vh;
    margin-top: 10vw;
    background-color: var(--main-color);
    box-shadow: 0vh 0vh 4vw 2vw var(--shadow-color);
    grid-row: 2/3;
    grid-column: 2/3;
}

.hero > a {
    font-size: 4vw;
    margin: 0 auto;
    padding: 2vw;
    margin-bottom: 12vw;
    color: var(--text-color);
    background-color: var(--main-color);
    font-family: var(--text-font);
    font-weight: bolder;
    box-shadow: 0vh 0vh 2vw 1vw var(--shadow-color);
    text-decoration: none;
    grid-row: 3/4;
    grid-column: 2/3;
}

.hero > a:hover {
    color: var(--hover-color);
}

.weatherspace {
    font-size: 120%;
}

.weatherspace, .spotlightspace {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-bottom: 4vh;
}

.eventspace {
    margin-bottom: 4vh;
}

.weatherspace > div {
    background-color: var(--secondary-color);
}

.eventspace > div {
    display: grid;
    grid-gap: 2vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.card {
    background-color: var(--secondary-color);
    height: 30vh;
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-color);
    border-bottom-color: var(--accent-color);
}

.card p {
    padding: 5px;
}

.weatherspace > div .card {
    height: 35vh;
}

.spotlightspace > div .card {
    height: 20vh;
    margin-bottom: 2vh;
}

.card > h3 {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 4vw;
    margin: 0 auto;
    padding: 1vh;
    padding-bottom: 2vh;
    text-align: center;
}

.card > p {
    color: var(--text-color);
    font-family: var(--text-font);
    text-align: center;
}

.label {
    color: var(--text-color);
    font-family: var(--title-font);
    background-color: var(--main-color);
    margin: 0 auto;
    text-align: center;
    padding: 2vh;
    width: 50vw;
    margin-top: 3vh;
    margin-bottom: 2vw;
    font-size: 5vw;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 16fr 1fr;
    color: var(--text-color);
    background-color: var(--main-color);
    margin-top: 2vw;
    padding: 1vw;
    text-align: center;
}

#logo {
    grid-row: 1/2;
    grid-column: 2/3;
    align-content: center;
    margin: auto;
}

#logo > img {
    width: 70px;
    height: auto;
    padding: 5px;
}

.footer-info {
    grid-row: 1/2;
    grid-column: 3/4;
}

.footer-info h3 {
    font-weight: 400;
    font-family: var(--title-font);
    font-size: 80%;
}

.footer-info p {
    font-family: var(--text-font);
    font-size: 80%;
}

/** Discover Page **/
.discover, .join, .thanks {
    padding: 2rem;
    justify-content: center;
}

.discover > h1, .join > h1, .thanks > h1 {
    color: var(--text-color);
    font-family: var(--title-font);
    background-color: var(--main-color);
    margin: 0 auto;
    text-align: center;
    padding: 2vh;
    width: 60vw;
    margin-top: 3vh;
    margin-bottom: 2vw;
    font-size: 150%;
}

.discover .card, .join .card {
    height: auto;
    margin-bottom: 2rem;
}

.discover-images img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#calendar {
    width: 100%;
    height: auto;
}

/** Join Page **/
.join section {
    height: auto;
}

.join-info p{
    font-size: 85%;
}

.join-form {
    position: relative;
}

ul {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 80%;
}

form {
    margin: 1rem;
}

fieldset {
    color: var(--text-color);
    padding: 1rem 2rem;
    border-color: var(--accent-color);
    border-style: solid;
    border-width: 3px;
}

form legend {
    font-family: var(--text-font);
    font-size: 120%;
    padding: 0.5rem;
}

form label, form div {
    display: block;
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 110%;
}

form div {
    padding-bottom: 0.7rem;
}

.membership {
    font-family: var(--text-font);
    font-size: 100%;
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
    margin-left: 1rem;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    display: block;
    padding: 0.7rem 5%;
    width: 90%;
    margin-bottom: 1rem;
    border: none;
    outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    outline: solid;
    outline-width: 3px;
    outline-color: var(--accent-color);
}

textarea {
    height: 10rem;
}

.button-div {
    position: relative;
    padding: 2rem;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 0.7rem 1.5rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 0vh 0vh 5px 5px var(--shadow-color);
    width: 100%;
}

/** Thanks Page **/
.thanks > h1 {
    width: auto;
    padding: 1.5rem 2.5rem;
}

#thanks-message {
    background-color: var(--secondary-color);
    border-style: solid;
    border-width: 4px;
    border-color: var(--main-color);
    border-bottom-color: var(--accent-color);
    height: auto;
}

#thanks-message > h1 {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 160%;
    margin: 0 auto;
    padding: 1rem 2rem;
    padding-bottom: 2vh;
    text-align: center;
}

#thanks-message > h2 {
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
    margin: 2rem;
    font-size: 120%;
}

/** Slider **/
.switchbox {
    margin-top: 7.5vh;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 250vh;
}

.switch {
  position: sticky;
  display: inline-block;
  width: 40px;
  height: 23px;
  top: 10px;
  right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-background);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: var(--slider-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--slider-background);
}

input:checked + .slider:before {
    background-color: var(--slider-color);
  }

input:focus + .slider {
  box-shadow: 0 0 10px var(--shadow-color);
}

input:checked + .slider {
    box-shadow: 0 0 10px var(--shadow-color);
  }

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}