@import url("https://fonts.googleapis.com/css?family=Gabarito|Titillium+Web");

@media (min-width: 960px) {
    :root {
        --main-color: #683571;
        --secondary-color: #512466;
        --accent-color: #f4a321;
        --text-color: #ffe78e;
        --hover-color: #ffc86a;
        --background-color: #38175a;
        --slider-color: #ffe78e;
        --slider-background: #f4a321;
        --shadow-color: rgb(56, 23, 90, 0.75);

        --text-font: 'Titillium Web', Arial;
        --title-font: Gabarito, Helvetica;

        background-color: var(--background-color);
        font-family: var(--text-font);
        color: var(--text-color);
        text-align: center;
        margin: 0 auto;
    }

    /** Hero **/
    .hero > h1 {
        width: 60%;
        font-size: 200%;
        padding: 1.2rem 2rem;
    }

    .hero > a {
        font-size: 200%;
        padding: 1rem 2rem;
        transform: translate(0%, -75%);
    }

    /** Home **/
    .large-grid {
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: auto auto;
    }

    .weather {
        margin-top: 2rem;
    }

    #forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /** Discover **/
    .discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .flex-grid {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: auto;
        text-align: center;
    }

    /** Join **/
    .join {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}