@import url("https://fonts.googleapis.com/css?family=Gabarito|Titillium+Web");

@media (min-width: 900px) {
    :root {
        --main-color: #683571;
        --secondary-color: #512466;
        --accent-color: #f4a321;
        --text-color: #ffe78e;
        --hover-color: #ffc86a;
        --background-color: #38175a;
        --shadow-color: rgb(56, 23, 90, 0.75);

        --text-font: 'Titillium Web', Arial;
        --title-font: Gabarito, Helvetica;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero > a {
        font-size: 3vw;
        padding: 3vh;
        margin-bottom: 5vw;
    }

    .weatherspace {
        font-size: 150%;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .eventspace > div > .card {
        height: 40vh;
    }

    .weatherspace > div > .card {
        height: 87vh;
    }

    .eventspace {
        grid-row: 2/3;
        grid-column: 2/4;
    }

    .spotlightspace {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    footer {
        grid-template-columns: 3fr 2fr 4fr 3fr;
    }

    .footer-info h3 {
        font-size: 110%;
    }
    
    .footer-info p {
        font-size: 110%;
    }

    h1 {
        grid-column: 1/4;
    }

    /** Join Page **/
    .join {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 3fr 3fr;
    }

    .join-info p{
        font-size: 110%;
    }

    ul {
        font-size: 100%;
    }

    form legend {
        font-size: 120%;
    }

    form label, form div {
        font-size: 135%;
    }

    .membership {
        font-size: 120%;
        padding-top: 0;
        padding-bottom: 1rem;
        margin-left: 2rem;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        display: block;
        padding: 0.7rem;
        width: 90%;
        max-width: 25rem;
        margin-bottom: 1.6rem;
        border: none;
        outline: none;
    }

    button {
        width: 50%;
        max-width: 15rem;
    }

    /** Directory Page **/
    .directory {
        grid-column: 1/4;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }

    .directory > .card > img {
        margin: 1rem;
        width: 320px;
        height: auto;
    }
}