@import url("https://fonts.googleapis.com/css?family=Comfortaa|Play");

:root {
    --main-color: #374692;
    --secondary-color: #262d61;
    --accent-color: #FE7525;
    --text-color: #ffe6d1;
    --hover-color: #f9be9f;

    --text-font: Comfortaa, Arial;
    --title-font: Play, Helvetica;
}

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header {
    background-color: var(--main-color);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header img {
    width: 100px;
    height: 136px;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 200%;
    font-family: var(--title-font);
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

#menu {
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
    text-decoration-line: none;
}

#menu::before {
    color: var(--text-color);
    content: '≡';
}

#current {
    text-decoration-line: underline;
    text-decoration-color: var(--hover-color);
}

nav {
    background-color: var(--secondary-color);
    width: 80%;
    margin: 0 auto;
}

nav a {
    align-self: center;
    color: var(--text-color);
    font-family: var(--text-font);
}

nav a:hover {
    color: var(--hover-color);
}

.navigation {
    display: none;
    background-color: var(--secondary-color);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 250px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration-line: none;
}

.navigation a {
    text-decoration-line: none;
}

.show {
    display: grid;
}

#menu.show::before {
    content: '✖';
}

main {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

#overlay {
    z-index: 1;
    margin: 0 auto;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--secondary-color);
    font-family: var(--title-font);
    color: var(--text-color);
    border-radius: 0.5rem;
    border-width: 5px;
    border-style: solid;
    border-color: var(--main-color);
    font-size: 100%;
    opacity: 80%;
    grid-row: 3/4;
    grid-column: 2/3;
    width: auto;
    align-self: center;
    font-size: 90%;
    margin-bottom: 0.5rem;
}

picture {
    grid-row: 1/4;
    grid-column: 1/4;
}

picture img{
    width: 100%;
    height: auto;
}

main h2 {
    color: var(--main-color);
    font-family: var(--title-font);
    border-style: solid;
    border-width: 0 0 2px 0;
    border-bottom-color: var(--accent-color);
}

#cardSpace {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--main-color);
    margin-bottom: 25px;
    border-bottom-width: 5px;
    border-bottom-color: var(--accent-color);
}

.card h3 {
    color: var(--text-color);
    background-color: var(--main-color);
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    font-size: 150%;
    font-family: var(--title-font);
}

.card p {
    font-size: 0.9rem;
    color: var(--secondary-color);
    font-family: var(--text-font);
}

ul {
    font-family: var(--text-font);
    color: var(--secondary-color);
    list-style: square;
}

li {
    padding: 5px;
    font-size: 0.75rem;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

iframe {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

footer p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 100%;
    padding: 1rem;
    margin: 0 auto;
}

#lastModified {
    font-family: var(--title-font);
}
